@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overscroll-behavior-x: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @apply relative min-h-screen text-sm font-sans antialiased;
}
